####################################
# Build
####################################
bin/
obj/

####################################
# Rider / VS / VSCode
####################################
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

####################################
# OS
####################################
.DS_Store
Thumbs.db

####################################
# Logs
####################################
*.log

####################################
# Secrets (الأهم)
####################################
appsettings.Development.json
appsettings.Local.json
secrets/
*.env

####################################
# Docker override
####################################
docker-compose.override.yml

####################################
# EF migrations temp files
####################################
*.db
